{% extends 'base.html' %}
{% load static %}

{% block title %}Vehicles List{% endblock %}

{% block content %}
<h2>Vehicles</h2>
<form method="get" class="mb-3">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-primary">Filter</button>
</form>
<ul class="list-group">
    {% for vehicle in filter.qs %}
    <li class="list-group-item d-flex align-items-center">
        {% if vehicle.image %}
        <img src="{{ vehicle.image.url }}" alt="{{ vehicle.name }}" class="me-3" style="max-width: 100px; height: auto;">
        {% else %}
        <img src="{% static 'default_vehicle.jpg' %}" alt="No Image" class="me-3" style="max-width: 100px; height: auto;">
        {% endif %}
        <div>
            <strong>{{ vehicle.name }}</strong> - {{ vehicle.vehicle_type.name }} ({{ vehicle.capacity }} tons)
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
